{% extends '::base.html.twig' %}
{% block body %}
  <p>
    Lorem ipsum dolor sit amet,
    consectetur adipiscing elit.
    Cras convallis tellus libero,
    nec tincidunt erat dictum consequat.
    Proin dignissim ligula vel metus feugiat pretium non sed risus.
    Sed tellus erat, egestas eu tempor sit amet, tempus eu dui.
    Cras volutpat ultricies lacus a aliquet.
    Duis congue pharetra quam, sit amet lobortis urna laoreet sed.
    Integer nulla quam, pretium at justo ut, venenatis porta nunc.
    Ut ut consectetur augue. Donec aliquet blandit cursus.
    Suspendisse in lorem erat. Ut nec tortor egestas,
    auctor nulla a, pretium ex. Sed urna sem, ultricies nec metus sit amet,
    porttitor gravida turpis. Nam sed est tristique, ornare mi vitae, lobortis arcu.
    Fusce hendrerit dui eu sapien ultricies, id pulvinar est efficitur.
  </p>
{% endblock %}
